<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>管理平台</title>
  ${htmlHeaderScript}
</head>

<body>
  ${htmlBodyScript}
  <section class="layout" isenvhash="true">
    <header class="layout__header" id="layout__header">
    </header>
    <div class="layout-content">
      <div class="layout__sider" id="layout__sider">
      </div>
      <div class="layout__content" id="root"></div>
    </div>
    </div>
  </section>
  ${htmlFooterScript}
  <script type="module" src="/src/pages/hello-world/index-entry.ts"></script>
</body>
</html>